/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #021420;
}

.container-ex {
  width: 100%;
}

.m-menu-ex {
  background-color: #07374F;
  margin-bottom: 100px
}
.m-menu-ex li {
  background-color: #07374F;
  color: white;
}

.content {
  background-color: #08283E;
  height: 400px;
}


