/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #021420;
}

.container-ex {
    width: 100%;
}

.m-menu-ex {
    background-color: #07374F;
    margin-bottom: 100px
}
.m-menu-ex li {
    background-color: #07374F;
    color: white;
}

.movie-detail {
    margin: 30px 0;
    width: 100%;
    overflow: hidden;
}

.movie-poster {
    float: left;
    width: 200px;
    height: 300px;
    margin-right: 40px;
}

.movie-info {
    float: left;
}

.rec-poster {
    width: 100%;
    height: 100%;
}











