@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/angular-chart.js/angular-chart.less";
@import "../bower_components/metro/less/metro.less";

body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #021420;
}

.container-ex {
    width: 100%;
}

.m-menu {
    background-color: #07374F;
    margin-bottom: 100px;
    li {
        background-color: #07374F;
        color: white;
    }
}


.movie-detail {
    margin: 30px 0;
    width: 100%;
    overflow: hidden;
}

.movie-poster {
    float: left;
    width: 200px;
    height: 300px;
    margin-right: 40px;
}

.movie-info {
    float: left;
}

.rec-statistic {
    margin: 30px 0;
    overflow: hidden;
}

.rec-statistic-detail {
    width: 40%;
    padding: 10px 0;
    float: left;
}

.rec-statistic-info {
    padding: 10px 40px 40px 0;
    float: right;
}

.row-ex {
    padding: 10px 0;
    margin: 0px;
}

.col-ex {
    position: relative;
    padding: 5px;
    img {
        height: 100%;
        width: 100%;
    }
}

.rec-poster-wrap {
    position: relative;
}

.rec-poster {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}












