<div class="container">
    <div class="fg-white">
        <div class="fix-area">
            <h3>{{ movieid }}</h3>
            <div class="container input-area">
                <div class="input-control modern">
                    Start: <label>{{ startSec }}</label>
                </div>
                <div class="input-control modern">
                    End: <label>{{ endSec }}</label>
                </div>
                <button class="button" ng-click="updateCredit(movieid, startSec, endSec, false)">Confirm</button>
            </div>
            <!--<div class="container input-area">-->
                <!--<div class="input-control modern">-->
                    <!--<input type="text" ng-model='startSecond'>-->
                    <!--&lt;!&ndash; <span class="label input-area-text">ng-</span> &ndash;&gt;-->
                    <!--<span class="informer" ng-hide="startSecond">Start</span>-->
                    <!--&lt;!&ndash; <span class="placeholder" ng-hide="ngnum">Input ng number</span> &ndash;&gt;-->
                <!--</div>-->

                <!--<div class="input-control modern">-->
                    <!--<input type="text" ng-model='endSecond'>-->
                    <!--&lt;!&ndash; <span class="label input-area-text">ng-</span> &ndash;&gt;-->
                    <!--<span class="informer" ng-hide="endSecond">End</span>-->
                    <!--&lt;!&ndash; <span class="placeholder" ng-hide="ngnum">Input ng number</span> &ndash;&gt;-->
                <!--</div>-->
                <!--<button class="button" ng-click="updateCredit(movieid, startSecond, endSecond, true)">Update</button>-->
            <!--</div>-->
        </div>

        <div ng-if="frameImages != []" class="row frame-area">
            <div class="poster-box" ng-repeat="image in frameImages">
                <!--<div class="poster-box-wrap">-->
                    <!--<div style="background-image: url(data/credits/{{movieid}}/{{image}})"></div>-->
                    <img src="/data/credits/{{movieid}}/{{image}}.jpg" ng-click="selectCredits(image, $event)" />
                <!--</div>-->
                <div ng-if="image == startSec" class="poster-box-id credit-start-highlight">
                    {{image}}
                </div>
                <div ng-if="image == endSec - 1" class="poster-box-id credit-end-highlight">
                    {{image}}
                </div>
                <div ng-if="image != startSec && image != endSec - 1" class="poster-box-id">
                    {{image}}
                </div>
            </div>
        </div>
        <div ng-if="frameImages == []">
            <h2>There is no frame images!</h2>
        </div>
    </div>
</div>