<div class="container">
    <div class="input-control text full-size" data-role="input">
        <input type="text" placeholder="Input IMDb id" ng-model="inputID">
        <button class="button" ng-click="recommend(inputID, 8)"><span class="mif-search"></span></button>
    </div>

    <div data-role="dialog" 
         id="inputErrorDialog" 
         class="padding20 dialog alert" 
         data-close-button="true" 
         data-type="alert"
         data-overlay="true" 
         data-overlay-color="op-dark" 
         data-overlay-click-close="true" 
         style="width: auto; height: auto; visibility: hidden; left: 244.5px; top: 146.5px;">
        <h4>Error</h4>
        <p>
            Please input a IMDb id! 
        </p>
        <span class="dialog-close-button"></span>
    </div>
</div>

<div class="container">
    <div class="info-box">
        <div class="poster-box">
            <div class="poster-box-wrap">
                <a ng-href="/#/similar/{{key}}/12">
                    <div class="poster-image" style="background-image: url(http://192.168.1.80:7777/{{ movieID }}.jpg)"></div>
                    <img src="images/poster.png" >
                </a>
            </div>
        </div>
        <div class="info-box-info fg-white">
            <h2>
                <a href="http://www.imdb.com/title/{{ movieID }}">{{movieID}}</a>
            </h2>
            <h4></h4>
            <div></div>
        </div>
    </div>

    <!-- <div class="info-box fg-white">
        <h3>Recommendation statistic</h3>
        <div class="rec-statistic-chart" ng-controller="PieCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas> 
        </div>
        <div class="rec-statistic-info">
            sss
        </div>
    </div> -->


    

    <div class="info-box fg-white">
        <h3>Recommended movies(weighted)</h3>
        <div class="row">
            <div class="poster-box" ng-repeat="(movie, features) in recMovies.weighted" ng-mouseenter="showChart($event)" ng-mouseleave="hideChart()">
                <div class="poster-box-wrap image-container">
                    <a href="http://192.168.1.80:{{web_port}}/#/similar/{{movie}}/8">
                        <div class="poster-image" style="background-image: url(http://192.168.1.80:7777/{{ movie }}.jpg)"></div>
                        <img src="images/poster.png" >
                    </a>
                </div>
                <div class="poster-box-id">
                    <a href="http://www.imdb.com/title/{{movie[0]}}/" target="_blank">{{movie}}</a>
                </div>
                <div ng-repeat="(word, weight) in features.words" style="font-size: 14px">
                    <div>{{word}}</div>
                    <div>{{weight}}</div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="info-box fg-white">
        <h3>Recommended movies</h3>
        <div class="row">
            <div class="poster-box" ng-repeat="(movie, features) in recMovies.unweighted" ng-mouseenter="showChart($event)" ng-mouseleave="hideChart()">
                <div class="poster-box-wrap image-container">
                    <a href="http://192.168.1.80:{{web_port}}/#/similar/{{movie}}/8">
                        <div class="poster-image" style="background-image: url(http://192.168.1.80:7777/{{ movie }}.jpg)"></div>
                        <img src="images/poster.png" >
                    </a>
                </div>
                <div class="poster-box-id">
                    <a href="http://www.imdb.com/title/{{movie[0]}}/" target="_blank">{{movie}}</a>
                </div>
                <div ng-repeat="word in features.words" style="font-size: 14px">{{word}}</div>
                <!-- {{features.words}} -->
            </div>
        </div>
    </div>

    <div ng-show="hasColorData" id="color-chart"></div>
    <div id="reason-chart" class="popover marker-on-bottom bg-amber">

        <canvas 
            id="radar" 
            class="chart chart-radar"
            chart-data="data" 
            chart-labels="labels"
            chart-options="{
                pointLabelFontColor : '#093A10',
                pointLabelFontStyle : 'bolder'
            }"
            height="500"
            width="500">
        </canvas> 

    </div>
</div>

