<div class="container">
    <div class="fg-white">
        <h3>All movies</h3>
        <div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
            <div class="row">
                <div class="poster-box" ng-repeat="key in moviesForShow">
                    <div class="poster-box-wrap">
                        <a ng-href="/#/similar/{{key}}/8">
                            <div class="poster-image" style="background-image: url(posters/{{ key }}.jpg)"></div>
                            <img src="images/poster.png" >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>