<div class="header">
    <ul class="m-menu m-menu-ex">
        <li><a href="#">Home</a></li>
    </ul>
</div>

<div class="container">
    <div class="input-control text full-size" data-role="input">
        <input type="text">
        <button class="button"><span class="mif-search"></span></button>
    </div>
</div>

<div class="container">
    <div class="movie-detail">
        <div class="movie-poster">
            <img src="../images/tt0468569.jpg">
        </div>
        <div class="movie-info fg-white">
            <h2>The dark night</h2>
            <h4>gggggg</h4>
            <div></div>
        </div>
    </div>
    <div class="grid">
        <div class="row cells8">
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            <div class="cell">
                <img class="rec-poster" src="../images/tt0468569.jpg" >
            </div>
            
        </div>
    </div>
</div>

