<div class="container">
    <div class="input-control text full-size" data-role="input">
        <input type="text" placeholder="Input IMDb id">
        <button class="button"><span class="mif-search"></span></button>
    </div>
</div>

<div class="container">
    <div class="movie-detail">
        <div class="movie-poster">
            <img src="../images/tt0468569.jpg">
        </div>
        <div class="movie-info fg-white">
            <h2>The dark night</h2>
            <h4>gggggg</h4>
            <div></div>
        </div>
    </div>

    <div class="rec-statistic fg-white">
        <h3>Recommendation statistic</h3>
        <div class="rec-statistic-detail" ng-controller="PieCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas> 
        </div>
        <div class="rec-statistic-info">
            sss
        </div>
    </div>

    <div class="rec-result fg-white">
        <h3>Recommendation movies</h3>
        <div class="grid grid-ex">
            <div class="row cells8">
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
                <div class="cell">
                    <img class="rec-poster" src="../images/tt0468569.jpg" >
                </div>
            </div>
        </div>
    </div>
</div>

