<div class="container">
    <div class="input-control select full-size">
        <select ng-model="selectedItem" 
                ng-options="item.value for item in selectionItems"
                ng-change="selectItem(selectedItem)">
        </select>
    </div>
</div>



<div class="container">
    <div class="rec-result fg-white">
        <h3>Recommended movies</h3>
        <div class="row">
            <div class="col-md-3 poster-box" ng-repeat="key in specdayMovies">
                <div class="poster-box-wrap">
                    <div class="poster-image" style="background-image: url(posters/{{ key }}.jpg)"></div>
                    <img src="images/no-poster.png" >
                </div>
            </div>
        </div>
    </div>
</div>